/*--------------------------------------------------------------

Custom CSS

---------------------------------------------------------------*/
.cd-headline.clip span{
  color:#fff;
}

.banner-static-content p{
  color:#fff;
}

.slider-style-2{
  margin-top: 80px;
}

.intelligent-header{
  box-shadow:none;
}

.text__cover-home{
  width: 90%;
  margin: 0 auto;
}

.container__instagram{
  padding: 40px 0 40px;
}

.instagram-item img {
  transition: transform 0.5s ease 0s;
}

.instagram-item:hover img {
  transform: scale3d(1.05, 1.05, 1);
}

.container__txt-home{
  padding-top:30px;
}

.portfolio-item img{
  min-height: 220px;
}

.item-thumbnail {
  overflow: hidden;
  border-radius: 5px;
  background-color: #333;
  color: white;
  position: relative  
}

.placeholder:after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5000;
  transform: translate(-50%, -50%);
  counter-increment: brick;
  content: counter(brick);
  transition: font-size .25s, opacity .25s ease-in-out;
  font-weight: 700;
  opacity: .5;
  font-size: 1.25em;
}

.placeholder:hover:after {
  font-size: 2.25em;
  opacity: 1;
}

.instagram-widget li{
  padding:0 16px!important;
  margin-bottom:16px!important;
}

.footer-area{
  border-top:none;
  padding-top:30px;
}

/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1169px) {
  .header-middle-area{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

}

/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
  .header-middle-area{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

}

/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/
@media (max-width: 767px) {
.slider-style-2{
  background: rgba(0, 0, 0, 0) url(../img/slider/2.jpg)
   repeat scroll center center / cover;
}
.header-middle-area{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.instagram-widget{
  display:block;
  font-size:14px;
}
.widget-title{
  display:none;
}
.header-middle-area{
  position:fixed;
  width: 100%;
}
}