<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eugenia | Covers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="img/icons/favicon.png">
    <!-- All CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start main wrapper -->
    <div class="wrapper">
        <!-- Header area start -->
        <header class="header-area header-style-one intelligent-header">
            <div class="header-middle-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3  col-sm-2 col-xs-6">
                            <div class="logo">
                                <h3><a href="index.html">Eugenia</a></h3>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-10 hidden-xs hidden-sm">
                            <div class="menu-area">
                                <nav>
                                    <ul class="main-menu clearfix">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="#">Press kit<span><i class="ti-angle-down"></i></span></a>
                                            <ul>
                                                <li><a href="cover.html">Covers</a></li>
                                                <li><a href="campaigns.html">Campaigns</a></li>
                                                <li><a href="cover.html">Editorials</a></li>
                                                <li><a href="cover.html">Videos</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-me.html">Eugenia & CO<span><i class="ti-angle-down"></i></span></a>
                                            <ul>
                                                <li><a href="about-us.html">Hola</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">EU homes<span><i class="ti-angle-down"></i></span></a>
                                            <ul>
                                                <li><a href="shortcode-accordion.html">Home reports</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Fashion producers <span><i class="ti-angle-down"></i></span></a>
                                            <ul class="dropdown-show-right">
                                                <li><a href="blog.html">Blog Default</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="https://www.cabinett.com">Cabinett</a></li>
                                        <li><a href="about-us.html">about</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- START OF MOBILE MENU AREA -->
                        <div class="mobile-menu-area clearfix hidden-md hidden-lg">
                            <nav class="mobile-menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                        <li><a href="#">Press kit<span></span></a>
                                            <ul>
                                                <li><a href="cover.html">Covers</a></li>
                                                <li><a href="campaigns.html">Campaigns</a></li>
                                                <li><a href="cover.html">Editorials</a></li>
                                                <li><a href="cover.html">Videos</a></li>
                                            </ul>
                                        </li>
                                    <li><a href="#">Shortcodes</a>
                                        <ul>
                                            <li><a href="shortcode-accordion.html">accordion</a></li>
                                            <li><a href="shortcode-button.html">buttons</a></li>
                                            <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                            <li><a href="shortcode-service-box.html">service box</a></li>
                                            <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                            <li><a href="shortcode-tab.html">Tabs</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a>
                                        <ul class="dropdown-show-right">
                                            <li><a href="blog.html">Blog Default</a></li>
                                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                            <li><a href="single-post-full-width.html">Post Full width</a></li>
                                            <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                            <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- END OF MOBILE MENU AREA -->                   
                     </div>
                </div>
            </div>
        </header>
        <div class="intelligent-header-space"></div>
        <!-- Header area End -->
        <!-- Main content start -->
        <div class="content">
            <!-- Breadcrumb area start -->
            <div class="breadcrumb-style-two gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumb-content">
                                <h2 class="page-cat">Eugenia Covers</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="index.html">Home</a></li>
                                    <li>Eugenia Covers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb area end -->
            <!-- <div id="app-covers"> 
                <div v-for="data in images">{{data.imgPath}}</div>
            </div> -->
            
            <!-- Erika portfolio start -->
            <div class="erika-standard-row">
                <!-- Portfolio content -->
                <div class="container">
                    <div class="portfolio-content">
                        <div class="portfolio-filter-wrap text-center">
                            <ul class="portfolio-filter hover-style-one">
                                <li class="active"><a href="#" data-filter="*"> All</a></li>
                                <li><a href="#" data-filter=".cat1">Design</a></li>
                                <li><a href="#" data-filter=".cat3">illustration</a></li>
                                <li><a href="#" data-filter=".cat2">Coding</a></li>
                                <li><a href="#" data-filter=".cat4">Photography</a></li>
                                <li><a href="#" data-filter=".cat5">Development</a></li>
                            </ul>
                        </div>
                        <div id="app-covers" class="portfolio portfolio-gutter portfolio-container portfolio-column-count-4">
                            <div class="portfolio-item" v-for="data in images.slice(12 , 20 )">
                                <div class="portfolio-item-content placeholder">
                                    <div class="item-thumbnail">
                                        <img :src="data.thumbnailUrl" alt="">
                                    </div>
                                    <div class="portfolio-description">
                                        <h4><a href="#" >portfolio Item Title</a></h4>
                                        <ul class="portfolio-cat">
                                            <li><a href="#">Branding</a></li>
                                            <li><a href="#">Development</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="pagination-area">
                            <div class="load-more text-center">
                                <a class="button" href="#">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- portfolio content end -->
            </div>
            <!-- Erika Portfolio End -->
        </div>
        <!-- Main content end -->
        <!-- Footer area start -->
        <footer class="footer-area text-left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <div class="footer-fun-text">
                            <h3 class="footer-logo"><a href="index.html">Eugenia</a></h3>
                            <p>Here is our social profile links.</p>
                        </div>
                        <div class="social-bookmark-wrapper">
                            <ul class="social-bookmark">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-menu">
                            <ul class="footer-menu">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                        <div class="copy-right-info">
                            <p>All copyright &copy; reserved by <a href="" target="_blank">Eugenia</a> 2018</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
                        <aside class="instagram-widget">
                            <h4 class="widget-title">follow me @ eusilva</h4>
                            <ul id="instagram-widget"></ul>
                        </aside>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer area end -->
    </div>
    <!-- End main wrapper -->
    <!-- All JS Files -->

    <script src="js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/covers-request.js"></script>


    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/jquery.isotope.js"></script>
    <script src="js/main.js"></script>

</body>

</html>